@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT

font-family: 'Roboto', sans-serif; 

COLORS

#0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000

*/

/*======================
    GENERAL STYLES
=======================*/

body {
    font-family: 'Roboto', sans-serif; 
    /* scroll-behavior: smooth; */
    /* width: 50vw; */
    /* margin: 10vw; */
}

h1 {
    font-size: 5em; 
    font-weight: 900;
    width: 50vw;
    margin: 30vh 0 1vw 10vw;
}

/* Every idea 💡 starts with a need */
h2 {
    font-size: 3em; 
    font-weight: 900;
    width: 6em;
    display: inline-block;
    margin: 30vh 0 1vw 15vw;
}

/* After several weeks of */
h5 {
    width: 13em;
    font-size: 3em; 
    font-weight: 900;
    display: inline-block;
    margin: 30vh 0 1vw 15vw;
}

h4 {
    font-size: 3em; 
    font-weight: 900;
    text-align: center;
    margin: 20vh 0 5vh 0;
}

a { 
    color: #ff3571;
    text-decoration: none;
    font-weight: 900;
    margin: 0 0 0 10vw;
}

/*======================
        HEADER
=======================*/

header {
    background: url("../img/Lev3_2_Project_css-vertiefung_designer-challenge/ilustracion1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}

header section {
    width: 100vw;
}

header section img:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    animation: peopleMove 5s infinite;
}

@keyframes peopleMove {
    0%   {top: 0px;}
    25%  {top: 50px;}
    75%  {top: 0px}
    100% {top: 50px;}
}

nav {
    /* display: flex;
    align-items: flex-start; */
    /* margin: 5vh 3vw; */
}

nav span:nth-of-type(1):before {
    content: url("../img/Lev3_2_Project_css-vertiefung_designer-challenge/icons8-elefant-50.png");
    /* margin: 10vh 1vw 0 2vw; */
    margin-top: 5vh;
}

nav span:nth-of-type(1) {
    font-size: 1.5em;
    display: flex;
    font-weight: 900;
    margin-left: 3vw;
}

nav span:nth-of-type(2) {
    /* display: inline-block; */
    font-size: 0.7em;
    margin-left: 6vw;

}

header p {
    font-size: 2em; 
    width: 55vw;
    margin: 5vh 0 20vh 10vw;
}

header div img {
    width: 100%;
    margin: 20vh 0 0 0;
}

/*======================
        MAIN
=======================*/

main p {
    font-size: 1em;
    /* text-align: justify; */
    display: inline-block;
    width: 33vw;
    margin: 10vh 16vw 0vw;
    line-height: 2em;
}

table {
    border: none;
    width: 55%;
    margin: 0 0 0 25vw;
    font-family: 'Roboto', sans-serif; 
    margin: 30vh 25vw;
    line-height: 2em;
}

thead {
    border: 1px solid #000;
    font-weight: 900;
    padding: 0 1vw 0em;
}

th, td {
    padding: 0 5px 0 30px;
}

.none {
    color: #F7F7F7;
}

/* The challenge lasts 30 days */
.explainingChallenge {
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    margin: 0 0 20vh 25vw;
}

.number {
    font-size: 4em;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.2);
    display: block;
}

main article:nth-of-type(1) img,
main article:nth-of-type(2) img,
main article:nth-of-type(3) img,
main article:nth-of-type(4) img {
    width: 30%;
    display: flex;
}

/*=========== ARTICLE 1 ===========*/

/* 01 */
.number:nth-of-type(1){
    margin: 0 0 10vh 16vw;
}

main article:nth-of-type(1){
    display: flex;
    margin: 0 0 0 1vw;
}

main article:nth-of-type(1) h3{
    font-size: 1.5em;
    margin: 0 0 0 16vw;
    width: 100%;
    display: block;
    line-height: 5vh;
}

main article:nth-of-type(1) img {
    margin: 0 0 0 15vw;
}
/*=========== ARTICLE 2 ===========*/

/* 02 */
.number:nth-of-type(2){
    margin: 0 0 10vh 16vw;
}

main article:nth-of-type(2){
    display: flex;
    margin: 0 0 0 1vw;
}

main article:nth-of-type(2) h3{
    font-size: 1.5em;
    margin: 0 0 0 16vw;
    width: 100%;
    display: block;
    line-height: 5vh;
}

main article:nth-of-type(2) img {
    margin: 0 0 0 -10vw;
}
/*=========== ARTICLE 3 ===========*/

/* 03 */
.number:nth-of-type(3){
    margin: 0 0 10vh 16vw;
}

main article:nth-of-type(3){
    display: flex;
    margin: 0 0 0 1vw;
}

main article:nth-of-type(3) h3{
    font-size: 1.5em;
    margin: 0 0 0 16vw;
    width: 100%;
    display: block;
    line-height: 5vh;
}

main article:nth-of-type(3) img {
    margin: 0 0 0 15vw;
}
/*=========== ARTICLE 4 ===========*/

/* 04 */
.number:nth-of-type(4){
    margin: 0 0 10vh 16vw;
}

main article:nth-of-type(4){
    display: flex;
    margin: 0 0 0 1vw;
}

main article:nth-of-type(4) h3{
    font-size: 1.5em;
    margin: 0 0 0 16vw;
    width: 100%;
    display: block;
    line-height: 5vh;
}

main article:nth-of-type(4) img {
    margin: 0 0 0 -10vw;
}
/*======================
        FOOTER
=======================*/

footer p { 
    font-size: 1.5em;
    text-align: center;
}

input[type=text] {
    margin: 5vh 0 5vh 30vw;
    padding: 2.5vh 13vw;
    border: 2px solid #F7F7F7;
    box-shadow: 0px 0px 10px 10px #F7F7F7;
    border-radius: 7px;
    font-size: 1.5em;
}
/* BUTTON */
footer a {
    background: #ff3571;
    color: #fff;
    margin: 5vh 0 0 41.5vw;
    padding: 2.3vh 5vw;
    border: 2px solid;
    border-radius: 7px;
    font-size: 1.2em;
    font-weight: 400;
}

footer a:hover {
    background: linear-gradient(90deg, #ff3571 0%,#3C30FF  100%); 
}

/* CREATED WITH */
footer span {
    margin: 0 0 0 5vw;
}

footer div:nth-of-type(2) {
    margin: 20vh 0 0 0;
}